@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;700;900&display=swap');

	body {
		@apply bg-secondary;
		font-family: 'Outfit', sans-serif;
	}

	img {
		max-width: 100%;
		display: block;
	}
}

@layer components {
	.customRegistrationInput {
		@apply w-full bg-[transparent] border-b-[1px] border-b-accent p-4 text-text font-light text-lg outline-none caret-primary focus:border-b-2 focus:mb-[-1px];
	}

	.customRegistrationForm {
		@apply bg-baseColor py-8  px-6 flex flex-col justify-center gap-8 w-full rounded-xl;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* For IE, Edge and Firefox */
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.customGridTemplate {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
	}
}
